<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Latest Results</title>
    <link>http://link.springer.com</link>
    <description>The latest content available from Springer</description>
    <lastBuildDate>Mon, 24 Aug 2026 08:27:09 GMT</lastBuildDate>
    <item>
      <title></title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01842-3</link>
      <description><![CDATA[红树林因其密集的根系和低能量的潮汐流体动力学而成为水性微塑料 (MP) 的有效陷阱，但印度红树林的 MP 数据仍然集中在少数经过充分研究的系统中。本研究对 2021 年 9 月在印度孟加拉湾恩诺尔红树林和邻近海岸的四个监测站采样的沉积物和地表水中的 MP 丰度、形态和聚合物成分进行了表征。通过过氧化氢消化和密度分离提取可疑颗粒，在立体显微镜下进行目视识别，并使用 ATR-FTIR 和 SEM 进行确认。沿海沉积物中的 MP 浓度（6.0-25.6 颗粒/千克，在恩诺尔热电站和工业排放点附近达到峰值）显着高于红树林沉积物（2.3-6.0 颗粒/千克），红树林地表水（7±1 颗粒/升）高于恩诺尔溪水（5±2.6 颗粒/升）（单向方差分析， p &lt; 0.0001）。纤维（53% 在沉积物中，71% 在水中）和碎片（39% 在沉积物中）是主要形状，颗粒尺寸集中在 0.5 至 2 毫米之间。 ATR-FTIR 确定了 13 种聚合物类型，其中聚丙烯 (21%) 和聚乙烯 (19%) 最丰富，与渔具和包装衍生的投入一致。 SEM 显示凹坑、风化的 MP 表面被细菌定殖，表明高级降解和生物污垢。这些发现确定城市径流、白金汉运河的工业排放、未经处理的污水和捕鱼活动是恩诺尔的主要 MP 来源，并支持对印度红树林系统进行有针对性的源控制和长期监测。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01842-3</guid>
      <pubDate>Wed, 12 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>热带海草草甸海气 CO<sub>2</sub> 通量的季节和每日变化：印度尼西亚 Jepara 和 Karimunjawa 的一项研究</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01844-1</link>
      <description><![CDATA[热带海草甸在沿海碳循环中发挥着重要作用，但对跨季节和昼夜尺度的海气二氧化碳交换的控制仍知之甚少。本研究通过在东南季风（SEM；2022 年 8 月）和西北季风（NWM；2023 年 2 月）期间进行的 24 小时现场观测，调查了印度尼西亚 Jepara 和 Karimunjawa 海草草甸二氧化碳通量变化的关键驱动因素。测量海空二氧化碳通量、海水和大气二氧化碳分压以及环境变量，以评估空间、季节和昼夜模式。在所有观测期间，两个研究地点都是大气二氧化碳的净来源，正的ΔpCO2值表明海水中的pCO2高于大气中的pCO2。观察到显着的空间和季节差异，而昼夜差异不显着（p = 0.789）。 Karimunjawa 的 CO2 通量（NWM：10.10 ± 0.99 和 SEM：40.30 ± 3.67 mmol m⁻2 d-1）显着高于 Jepara（NWM 9.90 ± 2.33 和 SEM：18.0 ± 2.47 mmol） m⁻2d⁻1；p &lt; 0.0001）。尽管卡里蒙贾瓦表现出更高的海草密度、更大的物种多样性、生物量和有机碳储量，但更强的风力增强了气体传输速度 (kwa)，导致二氧化碳排放量更高。 CO2 通量与 kwa 密切相关，(r = 0.894)，突出了物理过程的主导影响。然而，西北风期间海草密度的增加与二氧化碳通量的降低同时发生，这表明海草生态系统可以部分减轻大气中二氧化碳的释放。总体而言，pCO2sea、ΔpCO2 和风驱动气体传输是 CO2 通量变化的主要控制因素。这些发现增进了对热带海草生态系统碳动态的理解，并为蓝碳保护和沿海碳管理提供了重要见解。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01844-1</guid>
      <pubDate>Wed, 12 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>用于海啸流能消散的矩形缓冲块的尺寸驱动优化</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01843-2</link>
      <description><![CDATA[可以通过部署缓冲块来缓解海啸或风暴潮等严重沿海洪水事件产生的海啸型水流，这一概念源于缓冲块在大坝溢洪道下游消力池中的既定应用。这些战略性定位的块体产生涡流，有利于降低流速，有助于能量耗散，这在高能沿海流条件下至关重要。除了上述功能外，这些街区还可以增强海滩的美感，并为海滩游客在正常情况下寻求放松提供座位设施。对多功能性的提及仅作为设计考虑因素，并不意味着经过验证的娱乐性能。这项研究评估了海啸型流下缓冲块的能量耗散，强调缓冲块高度作为关键参数，并系统地改变尺寸以量化效率。这些块的放置经过仔细规划，位于距海岸线几米的平坦地面上，以消除坡度对能量耗散的影响。评估了三排不同尺寸的缓冲块对流动深度和速度等流动特性的影响。比较分析表明，块尺寸的变化会引起流动模式的显着变化，从而引发大量有助于能量耗散的涡流。动量通量是根据流速 (v) 和流动深度 (h) 的观测值计算得出的，表明在没有结构的情况下力的减小。采用 Saincher 和 Sriram (2022a) 的 IITM-RANS3D 代码进行的数值研究已被用来评估矩形缓冲块的有效性并了解其流体动力学过程。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01843-2</guid>
      <pubDate>Mon, 10 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title></title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01838-z</link>
      <description><![CDATA[热带气旋（TC）是发生在热带和亚热带地区海面的气旋性环流。由于各种海洋和大气条件对其强度的显着影响，预测热带气旋的强度具有挑战性。此外，TC事件之间气象要素的差异使云图特征的提取变得复杂。针对上述问题，我们提出了一种新颖的TC强度预测模型，该模型由TC云图预测模块和TC强度估计模块组成。 TC云图预测模型SE-SimVP采用SENet，能够有效捕获云图中的重要特征。此外，我们设计了基于残差结构和CNN的TC估计模型。该模型有效捕捉卫星云图中的空间和结构特征，从而能够准确估计预测的TC云图。在2000年至2016年的HURDAT2和HURSAT-B1数据集上进行了实验。实验结果表明，该模型相对于现有深度学习方法在TC强度预测方面具有优越性。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01838-z</guid>
      <pubDate>Mon, 03 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>苏禄海、苏拉威西海和桑吉赫-塔洛水域的水文结构和湍流混合</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01835-2</link>
      <description><![CDATA[这项研究基于 2015 年收集的 79 个 CTD（电导率温度深度）模型，对苏禄海、苏拉威西海和桑吉赫-塔洛德水域的水文结构和湍流混合进行了全面分析。通过检查温度-盐度特征并估计湍流动能耗散率 (ε) 和垂直涡流扩散率(Kρ)，我们研究了太平洋源头水团通过印度尼西亚贯穿流和南海贯穿流路径的空间变换。温跃层和中间层以北太平洋副热带水和北太平洋中间水为主，沿 ITF（印度尼西亚穿流）路线有明显的变化。研究发现，湍流混合在区域和垂直方向上存在变化，ε 的范围为 10− 10 至 10− 7 W/kg，Kρ 的范围为 10− 6 至 10− 6 10− 4 平方米/秒。值得注意的是，不仅在崎岖地形的近场区域中观察到了增强的混合，而且在远场内部盆地中也观察到了这种现象，这可能是由内潮汐、内部孤立波破碎和中尺度涡流驱动的。这些过程促进水团转化和温盐特性的垂直重新分布，对印度尼西亚通流结构和下游通风产生影响。我们的研究结果证明了结合空间分辨湍流观测对于提高对海洋大陆区域海洋环流、能量耗散和水团演化的理解的重要性。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01835-2</guid>
      <pubDate>Thu, 30 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>修正：由内波粘度参数化调制的天文潮汐能的全局重新分布</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01834-3</link>
      <description><![CDATA[]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01834-3</guid>
      <pubDate>Wed, 29 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>分析基于观测的源项：阿拉伯海高分辨率波浪后报的验证和空间分析，强调低风条件</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01839-y</link>
      <description><![CDATA[]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01839-y</guid>
      <pubDate>Tue, 28 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>2017年华南沿海海平面异常高的特征及可能机制</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01837-0</link>
      <description><![CDATA[本研究基于1980年至2022年华南沿海10个验潮站数据和卫星测高数据，分析了该时期南海海平面变化特征，重点分析了2017年海平面异常高事件及其机制。研究结果表明，从1980年到2022年，南海沿岸海平面呈现波动上升趋势，平均上升率为3.43毫米/年。值得注意的是，2017 年海平面达到 1980 年以来的最高记录值，比长期平均值高出 83.83 毫米。 2017 年平均海平面的线性估计为 46.01 毫米，约占最高海平面距平 (SLA)（83.83 毫米）的 54.9%。具体而言，2017 年 10 月，沿海海平面上升至 10 月长期平均水平以上 116 毫米，是对年度极端高水位事件的最大单月贡献。该事件是由厄尔尼诺-南方涛动（ENSO）、太平洋十年涛动（PDO）、季风活动、海平面压力（SLP）变化、风暴潮事件、沿海流和空间效应的综合影响驱动的。其中，拉尼娜现象对SLA的贡献最高，为12.8%，PDO从暖到冷的相变贡献为10.2%。台风卡农引发的风暴潮是季风过渡期间东北风的正异常，占2017年10月南海沿岸海平面异常上升（SLR）的13.5%。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01837-0</guid>
      <pubDate>Sat, 25 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>孟加拉国孙德尔本斯河口系统潮汐模拟及季节性河床剪应力对侵蚀-增生过程的影响</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01840-5</link>
      <description><![CDATA[孙德尔本斯是世界上最大的红树林生态系统，在海岸保护、沉积物调节和河口稳定方面发挥着至关重要的作用。其河流系统受到强潮、季节性淡水流入和复杂的泥沙-水流相互作用的影响，导致动态的侵蚀-增生模式。这些挑战需要进行详细的水动力研究，以了解潮汐行为、沉积物输送和侵蚀-增生过程，这些过程控制着这个容易发生气旋、红树林主导的河口系统的长期稳定性。然而，尽管其具有至关重要的生态和社会经济重要性，但专门针对孙德尔本斯河系统的综合水动力研究仍然有限且不充分。本研究探讨了水位、流速、河床剪应力和流量如何控制孟加拉国孙德尔本斯主要河流的侵蚀-增生过程。为此，采用使用 Delft3D 开发的水动力模型来模拟孙德尔本斯河流在旱季（一月）和雨季（七月）期间的潮汐动态。根据卫星图像分析，选择了 5 个关键区域和 1 个非关键区域。结果显示，与旱季 (1.05–2.91 m) 相比，CZ1 雨季的潮差 (1.02–3.03 m) 更宽。尽管观察到相反的流动方向，但发现两个季节的流入和流出模式相似。与落潮 (~ 0.824 m/s) 相比，两个季节涨潮期间的洪水周期较短且流速较高 (~ 1.07 m/s)，这表明河口存在洪水主导行为。在关键区域观察到更高的速度。三个关键区域（2.42–0.56 N/m2）的底床剪应力也超过了临界值（0.14 N/m2），导致侵蚀；然而，在其他两个区域，由于床切应力值低于临界阈值，观察到了增生。这些发现为识别易受侵蚀的河段、预测河道淤积以及支持这种高度动态环境中的可持续河流管理和红树林保护战略提供了科学依据。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01840-5</guid>
      <pubDate>Sat, 25 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>印度红树林碳储量评估：区域和物种特异性变化的影响</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01836-1</link>
      <description><![CDATA[红树林生态系统对于缓解气候变化至关重要，因为它们在沿海和海洋生境中具有巨大的固碳和储存碳的能力。这项研究汇编并分析了印度各地红树林栖息地报告的碳储量数据。对已发表的印度红树林碳值的系统评价表明，生物量中储存的平均碳（包括地上碳和地下碳）为109 ± 48 Mg C ha− 1，而沉积物中的平均碳为48.3± 8.8 Mg C ha− 1。据此，印度红树林总面积的生态系统总碳估计为 157.3 ± 56.8 Mg C ha− 1，总碳储量约为 78.52± 28.35 Tg C。然而，所有报告的值都可能被低估，这可能是由于用于估算碳储量的方法存在差异，这可能会在研究中产生歧义。对于以保护和恢复这些生态系统为重点的全球或国家气候变化减缓努力，必须使用标准化的国际方法评估碳储量。这强调了政府机构和林业部门需要制定并遵守统一的指导方针，以有效评估这些蓝碳栖息地中储存的碳。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01836-1</guid>
      <pubDate>Sat, 25 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>基于机器学习的北太平洋重要波高的准确性和可靠性预测：混合深度学习框架</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01832-5</link>
      <description><![CDATA[有义波高 ($$\:{H}_{s}$$) 是控制波浪能量评估、海上结构设计和海洋灾害评估的基本参数。 $$\:{H}_{s}$$ 的准确预测仍然具有挑战性，因为数值波浪模型会产生极高的计算成本，这主要是由于海洋波浪系统固有的多尺度复合周期性和强随机性。提出了一种混合深度学习框架 CBLA-XGBoost，利用深度学习架构和梯度提升方法的互补优势，准确预测 $$\:{H}_{s}$$。该框架结合了卷积神经网络（CNN）、双向长短期记忆网络（BiLSTM）和注意力机制（AM），旨在从历史数据中提取深层特征。此外，通过基于加权集成技术的多模型融合策略集成了极限梯度提升（XGBoost）算法。输入特征最初是使用 Pearson 相关系数和 XGBoost 特征重要性得分来选择的。然后，将选定的特征输入基于 AM 的 CNN-BiLSTM (CBLA) 和 XGBoost 进行训练以预测 $$\:{H}_{s}$$，随后融合这些单独模型的输出以生成最终预测。该框架针对北太平洋三个气象站的 $$\:{H}_{s}$$ 预测进行了评估，提前时间为 1、2、4 和 6 小时。结果表明，CBLA-XGBoost 在预测精度和鲁棒性方面优于单独的 CBLA 和 XGBoost，并显着超过其他基准模型的性能。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01832-5</guid>
      <pubDate>Wed, 22 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>使用多源卫星海温产品监测海洋热浪的一致性和不确定性：来自边缘海和公海的见解</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01821-8</link>
      <description><![CDATA[摘要
                由于全球变暖，海洋热浪 (MHW) 的频率、持续时间和强度不断加剧，对海洋生态系统构成了深远的威胁。虽然卫星海面温度 (SST) 数据集是 MHW 检测的基石，但其可靠性仍然是一个关键问题。具体而言，多源 4 级 (L4) 分析数据集可能会给区域 MHW 评估带来很大的不确定性，特别是在气候敏感热点地区。然而，仍然缺乏对不同海洋学状况的这些不确定性的系统评估。本研究系统评估了三种广泛使用的全球 L4 SST 产品的一致性：NOAA OISST v2.1、REMSS MWIR v5.1 和 UKMO OSTIA。该评估涵盖两个截然不同的环境：中国东部边缘海（代表复杂的沿海动态）和东北太平洋（代表公海条件）。此外，还对 2013-2016 年的“The Blob”事件作为基准案例进行了分析。主要研究结果表明：(1) 虽然这三种产品在平均状态 MHW 指标方面表现出很强的一致性，但它们在长期趋势估计方面存在显着差异。在趋势信号较弱的区域，相对偏差可能很大，表明这些区域的趋势检测存在很大的不确定性。 (2) 强度相关指标的不确定性明显高于频率相关指标。值得注意的是，在白令海，不同的产品产生关于 MHW 发生的不同信号。 (3) 在“The Blob”期间，总持续时间和累积强度的绝对差异分别达到 150 $$\:\text{d}\text{a}\text{y}\text{s}$$ 和 250 $$\:^\circ\:\text{C}\cdot\:\text{d}\text{a}\text{y}\text{s}$$。这些差异可能会影响生态压力的评估，尽管这种影响的程度需要进一步验证。这项研究表明，对单一海表温度产品的依赖可能会带来不确定性，特别是对于区域或基于事件的评估，并强调了在未来 MHW 分析中纳入多源集成方法的潜在好处。
              
                临床试验注册
                作者声明，这项研究不涉及临床试验。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01821-8</guid>
      <pubDate>Wed, 22 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>利用 SMAP 和高度测量对孟加拉湾细网格海面盐度进行拉格朗日重建</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01833-4</link>
      <description><![CDATA[在这项研究中，我们将盐度场作为被动和主动示踪剂进行检查，以使用拉格朗日重建技术生成高分辨率海面盐度场，整合卫星数据和数值平流方案。具体来说，我们采用了 NASA 土壤湿度主动被动 (SMAP) 3 级海面盐度产品 4.0 版，该产品具有 8 天的运行平均值和约 25 公里的空间分辨率。这项工作使用了具有相当空间分辨率的地转表面电流，这些数据来源于哥白尼海洋环境监测服务（CMEMS）提供的卫星测高数据。通过使用这些高度计导出的电流对 SMAP 海表面盐度场应用向后和向前数值平流方案，我们捕获了较小规模的盐度特征，在 4 公里输出网格上生成重建场。通过与 Barceló-Llull 等人发表的重建结果进行比较，被动平流实施首先在墨西哥湾流中得到验证。 （2021），之后该框架被应用于主要研究区域孟加拉湾并进一步发展。利用盐度作为被动示踪剂使我们能够专注于水平平流，而不考虑源、汇或混合。进行了敏感性分析，确定使用此方法的最高可行分辨率为 4 公里，最佳平流积分周期为 14 天。对 2015 年至 2024 年船基热盐度仪观测的初步验证表明，通过被动平流进行高分辨率海面盐度测量 (HRSSS-PA) 的 RMSE 达到 0.19 至 3.19 PSU，相关性为 0.12 至 0.93，总体优于 SMAP，后者显示出较高的误差（0.21 至 4.78 PSU）和较弱或较弱的 SMAP。相关性不一致（-0.19 至 0.96）。这凸显了 HRSSS-PA 捕获幅度和精细尺度盐度变化的能力。为了解决被动平流假设不成立的情况，该框架进一步扩展到主动平流方法，在传输过程中动态调整盐度值，以考虑淡水输入和降水，从而改善以强淡水强迫、急剧海面盐度梯度和河流羽流影响为特征的条件下的代表性。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01833-4</guid>
      <pubDate>Tue, 21 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>阿拉伯湾颗粒有机碳与叶绿素-a 和海面温度的时空变化</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01831-6</link>
      <description><![CDATA[阿拉伯湾是重要的区域碳汇，但有关颗粒有机碳 (POC) 动态及其环境驱动因素的知识有限。本研究利用 2003 年至 2023 年 MODIS/Aqua 卫星数据研究了 POC 的时空变化及其与海面温度 (SST) 和叶绿素 a (Chl-a) 的关系。结果显示了明显的季节性，冬季 POC 浓度较高，夏季较低。两种方法得出的平均最大趋势表明，POC 减少约 − 13.5 mg m-3 yr-1，Chl-a 减少约- 0.14 mg m-3 yr-1，而海表温度则呈现出约 + 0.43 °C yr-1 的增加趋势，特别是在北部和西部地区。相关分析显示 POC 与 Chl-a 呈正相关，与 SST 呈负相关。机器学习模型将 Chl-a 和 SST 确定为 POC 的关键预测因子，实现了高精度（R² = 0.93，RMSE = 2.24 mg/m3）。采用地理加权回归 (GWR) 模型来分析和绘制这些关系的空间分布，结果表明叶绿素每增加 1 mg/m3，POC 就会增加约 107.39 mg/m3，而海温每升高 1 °C，POC 就会减少约 11.75 mg/m3。这些结果增进了对海湾水域碳过程的了解，并为有效的区域碳管理提供了见解。]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01831-6</guid>
      <pubDate>Thu, 16 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>第 14 届海洋模拟国际研讨会 (IWMO-2024) 于 2024 年 6 月 17 日至 20 日在日本札幌举行</title>
      <link>https://link.springer.com/article/10.1007/s10236-026-01830-7</link>
      <description><![CDATA[]]></description>
      <guid>https://link.springer.com/article/10.1007/s10236-026-01830-7</guid>
      <pubDate>Mon, 13 Jul 2026 00:00:00 GMT</pubDate>
    </item>
    </channel>
</rss>