<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Latest Results</title>
    <link>http://link.springer.com</link>
    <description>The latest content available from Springer</description>
    <lastBuildDate>Mon, 24 Aug 2026 17:03:18 GMT</lastBuildDate>
    <item>
      <title>热带流域间相互作用在启动 2020-2023 年拉尼娜现象中的作用：基于事后预报的可预测性研究</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08327-5</link>
      <description><![CDATA[最近在赤道太平洋发生的 2020 年至 2023 年三次探底拉尼娜事件，之前没有发生强烈的厄尔尼诺现象，挑战了仅由补给振荡理论控制的多年拉尼娜动力学的传统理解。本研究调查了 2020-2023 年拉尼娜现象发生的机制，并评估了完全耦合气候模型的预测能力。利用基于社区地球系统模型版本 2 和海洋数据同化技术的多年气候预测系统，我们评估了各种气候因素的贡献，包括印度洋偶极子 (IOD) 和热带大西洋变暖 (TAW) 等流域间强迫。我们的研究结果表明，虽然模型低估了 IOD 的作用，但正 IOD 和 TAW 的结合通过速度势异常向东传播，极大地影响了初倾拉尼娜的启动。部分海洋数据同化实验证实了这些结果，并进一步表明准确预测太平洋经向模（PMM）的相位对于预测启动过程至关重要。我们的事后实验表明，拉尼娜事件通常会在一年内衰减而不是持续存在，这表明PMM、南太平洋或气溶胶强迫等不同的驱动因素可能影响了第二和第三阶段的降温。这些见解凸显了流域间相互作用（IOD、TAW 和 PMM 强迫）在扩展 ENSO 可预测性和提高长期气候预报能力方面的关键作用。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08327-5</guid>
      <pubDate>Thu, 20 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>利用 ENSO 衰减率改进台风快速增强纬向位置的季节预测</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08298-7</link>
      <description><![CDATA[]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08298-7</guid>
      <pubDate>Wed, 19 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>全球变暖趋势和热带年际变化对南美洲 2022-2024 年极端气候的驱动因素</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08361-3</link>
      <description><![CDATA[从 2022 年到 2024 年，南美洲经历了前所未有的区域极端气候，造成了严重的社会经济影响。其中包括气温和降水的极端异常，导致 2022 年春季南美洲东南部和高原出现极端干旱； 2023年夏季智利中部出现极端火灾天气； 2024 年秋季南里奥格兰德州发生洪水；以及 2022 年至 2024 年春季持续的多年亚马逊干旱。虽然这些事件与全球变暖趋势（GWT）、热带年际变率（TIV）和天气尺度过程有关，但它们的贡献需要澄清。使用线性回归，我们将 1998 年至 2024 年期间观测到的气候异常分解为 GWT 和 TIV 分量，并得出代表均未解释的异常的残差分量。该方法通过季节性空间模式和区域差异的贡献，阐明了 GWT 和 TIV 在观测到的南美洲极端气候中的作用。从 2022 年春季到 2024 年春季，GWT 表现出强烈的背景变暖异常，而 TIV 表现出异常强劲的遥相关，特别是在其正相位期间。因此，整个大陆与极端气候相关的降水变化很大一部分是由 TIV 驱动的，而 GWT 在智利中南部占主导地位。 TIV 和 GWT 都对南美大范围变暖做出了重大贡献，随着 TIV 减弱，GWT 成为主导影响，但智利中南部除外，那里其他因素占主导地位。强烈的 GWT 和 TIV 的联合前所未有地同时发生，迫使整个非洲大陆的极端气候更加严重和长期。这里提出的框架可以支持全球极端气候归因。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08361-3</guid>
      <pubDate>Wed, 19 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>通过新型级联复合指数识别的持续区域干热极端事件及其与 ENSO 转变的可能关联</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08345-3</link>
      <description><![CDATA[级联复合极端天气事件的特点是连续发生不同的极端天气，例如热浪、洪水或干旱，在气候变暖的情况下带来越来越大的风险。然而，现有的识别此类事件的方法要么仅关注时间持续性，要么仅关注空间相干性，因此无法识别具有这两种特征的最严重事件。在这里，我们提出了一种基于动力系统理论的新方法，将变量视为耦合系统，以便能够机械地理解它们的相互作用。我们举例说明了该方法在 1979 年至 2020 年期间温度和相对湿度数据中的应用，识别了密西西比地区、中国东南部和法国的级联干热极端事件。虽然这些事件是由不同的大规模气候模式和阻塞模式控制的，但 26 个事件中有 10 个发生在从厄尔尼诺现象到拉尼娜现象的快速过渡期间（不到 12 个月）。在中国，这些过渡事件之前大约两周前一直有强降雨。主要驱动因素包括西北太平洋副热带高压的长期存在和陆地大气反馈。我们的研究结果揭示了厄尔尼诺转变年份中短短两周内湿向干转变的速度和严重程度，以及需要更好地了解其驱动机制。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08345-3</guid>
      <pubDate>Wed, 19 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>印度东南部和东部地区季风前热浪的驱动机制</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08284-z</link>
      <description><![CDATA[季风前的热浪是印度最严重的天气现象之一，对人类健康和生计造成严重影响。在这项研究中，我们研究了印度两个地区热浪的驱动机制：东南部（东南部，包括泰米尔纳德邦、安得拉邦和卡纳塔克邦）和东部（东部，比哈尔邦、贾坎德邦和西孟加拉邦的部分地区），在 1951 年至 2024 年期间呈现相反的趋势，东南部（东部）地区呈增加（减少）趋势。在热浪发作期间，土壤湿度、感热通量、比湿度、净长波辐射和总云量的急剧减少共同作用，加剧了这两个地区的地表变暖。在东南部，土壤湿度和感热通量在热浪爆发前 5-6 天开始下降，而比湿度和净长波辐射则提前约 3 天出现下降。总云量也在热浪爆发之前减少，为该地区的地表变暖做好了准备。此外，印度洋北部的海面温度（SST）显示出正异常，导致东南部下沉，加剧了该地区的变暖。马登-朱利安振荡 (MJO) 的干燥阶段也有利于这里热浪的发展。 E 的热浪主要由高空中纬度波驱动，这些波会在热浪事件发生前约一周引起下沉并减少云量。较低层的暖空气平流有助于温度升高，增强了热浪引发的动力贡献。 MJO 干相与 E 热浪没有显着关联。 E区的下降趋势与当地观测到的反气旋涡度减少和降雨量增加有关。最近变暖期间印度洋偶极子（IOD）条件的增强似乎也不利于东部地区热浪的形成。厄尔尼诺南方涛动 (ENSO) 和 IOD 等大规模气候驱动因素对东南热浪有正向影响，而 IOD 和大西洋经向涛动 (AMO) 则与东热浪呈反比关系。这些研究揭示了不同地区热浪发生机制的差异，认为了解局地变量与大尺度气候模式之间的超前滞后关系对于印度区域热浪预测至关重要。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08284-z</guid>
      <pubDate>Wed, 19 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>孟加拉湾夏季季风爆发的次季节可预测性与三个海洋海面温度异常有关</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08352-4</link>
      <description><![CDATA[准确预测孟加拉湾 (BoB) 夏季风 (BoBSM) 爆发对于整个亚洲的农业规划和水资源管理至关重要，但其次季节可预测性的物理来源仍然知之甚少。使用 ECMWF 次季节到季节 (S2S) 重新预测，我们表明可以提前 15 天巧妙地预测 BoBSM 的爆发，并进一步研究这种预测技能背后的物理机制。结果表明，可预测性的主要来源来自热带印度洋-太平洋和北大西洋的海面温度异常（SSTA），它们共同调节了季风前的对流层中上层经向温度梯度（MTG）。热带印度洋-太平洋海温异常提供了最可靠的可预测性来源。在厄尔尼诺现象衰变期间，与厄尔尼诺现象相关的遥相关导致整个盆地印度洋变暖，增强对流层非绝热加热，并在季风爆发前维持调节 MTG 的有利热结构。此外，北大西洋海温异常通过两条不同的大气遥相关路径提供了额外的可预测性。热带北大西洋变暖激发了赤道开尔文波响应，这些响应由预报系统巧妙地再现，而北大西洋三极模式则迫使中高纬度罗斯贝波列延伸到欧亚大陆。由于代表北大西洋三极模式的预测能力下降，与罗斯比波路径相关的可预测性在超过两个候时迅速下降，使得北大西洋遥相关的错误成为BoBSM爆发的长期预测不确定性的主要来源。这些结果凸显了三洋海温强迫的主导作用，并将温带遥相关误差确定为当前 S2S 预测系统的关键限制。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08352-4</guid>
      <pubDate>Wed, 19 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>南海北部湾海洋热浪多样性及驱动因素</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08338-2</link>
      <description><![CDATA[与南海其他地区相比，北部湾的海洋热浪事件（MHW）的强度和频率明显更高。根据发展阶段和衰变阶段的主导驱动力，北部湾重水流可分为四种类型：（i）Q-Q型，两个阶段均以海面净热通量为主，均占40%； (ii) Q-Adv型，以海面净热通量为主发展，以海洋平流衰减为主，占比38%； (iii) Adv-Q型，以海洋平流发育为主，海面净热通量衰减，占10%； (iv) Adv-Adv型，两期均以海洋平流为主，占5%。所有四种 MHW 类型在夏季最弱，在秋季最强，但 Q-Adv 型除外，其在冬季达到峰值。秋季 Q-Q MHW 的持续时间最长，其次是冬季 Q-Adv MHW。海洋的贡献主要归因于异常垂直速度造成的平均温度的平流。这些研究结果为南海北部湾MHW的特征和驱动机制提供了新的见解。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08338-2</guid>
      <pubDate>Wed, 19 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>青藏高原臭氧谷强度能否影响东亚夏季降水？</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08359-x</link>
      <description><![CDATA[利用 ERA5 再分析数据集，本研究调查了青藏高原臭氧谷 (OVTP) 如何影响东亚夏季降雨并阐明其相关机制。通过5月和6月青藏高原地区平均臭氧含量定义OVTP强度指数（OVTPI），对6月和7月东亚降水进行超前回归分析。结果表明，OVTP增强主要伴随着7月份中国东南沿海降水的增加，局部存在垂直累积水汽输送的异常辐合中心。对与OVTP增强相关的大气环流模式的分析表明，南亚高压(SAH)在6月至7月期间向东延伸，朝鲜半岛上空形成异常高压系统。异常东风位于该反气旋的南部，为邻近地区降水增加提供了有利的湿度条件。此外，6月份在青藏高原上空建立了正向的陆地-大气反馈过程，其中增强的臭氧谷可以允许更多的太阳辐射到达地面。因此，随着青藏高原变暖，南亚高压在7月向东延伸，形成波浪状列车。异常低压系统在青藏高原下游被激发，抬升的增强解释了6-7月中国东南沿海降水的增加。高技能化学气候模型也验证了 OVTP 与东亚降雨之间的联系。研究表明，青藏高原上空的臭氧会引起当地和下游大气热力学和动力学的变化，这可能是季节性降雨预报的有用预测因子。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08359-x</guid>
      <pubDate>Tue, 18 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>使用 CMIP6 模拟的单变量和多变量偏差校正制定越南湄公河三角洲的局部气候预测</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08347-1</link>
      <description><![CDATA[越南湄公河三角洲在国家和全球粮食安全中发挥着关键作用。然而，三角洲地区以农业为基础的生计极易受到极端气候的影响，这凸显了对更多本地化气候变化信息的需求。因此，本研究将单变量和多变量偏差校正方法应用于耦合模型比对项目第六阶段八个共享社会经济路径（SSP）下的原始气候模型模拟，以制定局部气候预测。采用的单变量方法是分位数增量映射 (QDM) 算法，而多变量方法包括 N 维概率密度函数变换 (MBCn) 以及分布和相关性的排名重采样 (R2D2)。这些偏差校正技术的性能是根据其减少边缘分布中的模型偏差和重现多维特征（包括变量间、站点间和时间依赖性结构）的能力进行评估的。连续的交叉验证结果表明，即使在高分位数值下，偏差校正字段也显示出边际分布的显着改善。此外，与单变量方法相比，多变量方法在捕获多变量特征方面表现出优越的性能。对于未来的预测，本研究将 QDM 算法的趋势保持功能与滑动窗口设置相结合，以更好地保留原始气候模型输出中的潜在气候变化信号。在年度尺度上，对近期和远期的预测一致表明，在大多数基于 SSP 的情景中，相对于基线期，气候会出现更温暖、更湿润的反应。然而，旱季（几个月）的降雨量预计会减少，但存在很大的不确定性。研究结果为三角洲地区的气候敏感规划和决策提供了宝贵的见解。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08347-1</guid>
      <pubDate>Tue, 18 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>西伯利亚高平流层极地涡旋耦合的十年加强：独立于乌拉尔阻塞的直接对流层驱动因素</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08321-x</link>
      <description><![CDATA[对流层-平流层耦合是冬季大气变化的基本驱动因素，但不同对流层前兆的相对重要性仍然是激烈争论的主题。这项研究发现，过去几十年来，12 月西伯利亚高压 (SH) 与 1 月平流层极地涡旋 (SPV) 之间的动力联系显着增强。我们的分析表明，SH 已成为 SPV 减弱的强大且独立的前兆，其特征是向上传播的行星波活动显着增加。值得注意的是，我们发现这种增强的 SH-SPV 耦合与乌拉尔阻塞 (UB) 活动脱钩，而乌拉尔阻塞传统上被认为是对流层-平流层相互作用的主要介质。这种从 SH 到 SPV 的直接途径为东亚表面温度的季节内逆转提供了关键的预测技能。我们的研究结果强调了监测SH变化的必要性——超越传统的阻塞指数——以改善平流层扰动和相关极端寒冷的次季节预报。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08321-x</guid>
      <pubDate>Thu, 13 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>大气振荡驱动印度恒河平原冬季气溶胶变化</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08348-0</link>
      <description><![CDATA[自然过程和人为活动都会对大气气溶胶负荷产生影响，但它们的相对比例在不同地区和季节之间存在显着差异。尽管很复杂，但准确描述这两个因素对于合理评估气溶胶影响和制定有效的空气污染控制和缓解策略仍然是必不可少的。印度恒河平原（IGP）是世界上人口稠密的地区之一，由于城市化进程加快，该地区很容易受到人为气溶胶的影响，而自然过程对气溶胶丰度和变异性的影响往往被忽视。冬季 IGP 上空的气溶胶光学深度比印度季节平均值高 60%，但变化很大。我们使用超过二十年基于卫星的测量结果进行的分析明确表明，大气振荡驱动了 IGP 上空的冬季气溶胶变化。在其显着的正相阶段，5-10 天、10-20 天和 20-40 天周期性的振荡分别导致 AOD 增强 16%、17% 和 17%。当振荡同相时，气溶胶浓度的变化会进一步加剧。与这些振荡相关的压力场的变化会导致风的加强和减弱，从而导致气溶胶的扩散和积累。振荡的正负阶段期间随之而来的 AOD 变化会因湿度条件的对比变化而进一步放大。 5-10天周期的振荡与向东传播的西部扰动有关，而10-20天和20-40天周期的振荡则归因于压力系统的西移，分别与准双周振荡和罗斯贝波列有关。本研究结果对于提高霾/大雾事件的模型预报精度、应对区域和全球空气污染挑战至关重要。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08348-0</guid>
      <pubDate>Thu, 13 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>区域高云量对年际变化和全球变暖的响应：来自卫星模拟器的见解</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08312-y</link>
      <description><![CDATA[之前的一项研究报告了当前气候下热带高云量变化与热带地区气候变化（年际和百年尺度）的相似性，根据云量百分比进行评估，这是耦合模型比较项目 (CMIP) 的标准输出。然而，使用云量的标准输出来物理解释模拟云的模型间比较并不一定简单。本研究使用大气模式比对项目（AMIP）、AMIP future4K和AMIP p4K的数据，根据云量的标准输出和使用卫星模拟器在主要基于模拟云辐射特性的一般环流模型的通用定义下评估的云量来评估高云量的反馈（每单位地表变暖的高云量变化）。我们发现，与之前的研究一样，年际尺度上高云量的反馈始终是负的。然而，与年际尺度不同，百年尺度的高云量反馈几乎为零。原因在于，前期研究通过云量标准输出对高云量的定义与卫星模拟器年际尺度云量评估结果一致。然而，这个定义不一定适用于不同的气候状态，例如未来的气候。与基于卫星模拟器评估的云量变化相比，未来气候状态下云量标准输出评估的高云量减少往往更为显着。此外，当使用卫星模拟器评估的云量时，高云量的反馈与出射长波辐射的反馈之间的关系比使用云量的标准输出时更强。这项研究还揭示了在扰动气候（海面温度升高）下热带地区高云量预测存在很大的不确定性，即使使用卫星模拟器评估云量也是如此，因为几乎相同数量的模型显示由于变暖而导致高云量增加和减少。本研究表明，需要将卫星模拟器数据作为主要 MIP 的认可输出，以对云进行深入分析，例如根据 CMIP 数据确定未来高云量变化中建模不确定性的主要原因。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08312-y</guid>
      <pubDate>Thu, 13 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>印度的热湿驱动极端热浪：干湿热浪及其季节内调节</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08339-1</link>
      <description><![CDATA[热浪 (HW) 对农业、公共卫生和经济产生了重大影响，构成了越来越大的威胁。仅基于最高温度 (Tmax) 的传统 HW 评估忽略了温度和湿度对人体热应激的综合影响。本研究采用综合了 Tmax 和相对湿度 (RH) 的炎热指数 (HI)，对 1981 年至 2023 年印度各地的高温和严重热​​浪 (SHW) 事件进行识别和分类，重点关注季风前（3 月至 5 月）和季风早期（6 月至 8 月）季节。使用 Steadman 的方法，我们根据 Tmax-RH 关系进一步区分干热浪 (DHW) 和湿热浪 (MHW)。分析揭示了西部、西北部、沿海、中部和印度恒河平原地区突出的生活热水和生活热水热点。 BSISO 相关的对流和环流异常调节 HW 类型，干相（正 OLR）有利于 DHW，湿相（负 OLR）通过增强对流和水分输送促进 MHW。趋势动态表明，Tmax 在 3 月至 6 月期间主要驱动 HW，而 RH 在 7 月至 8 月期间放大 SHW。平均而言，印度每年会发生 9-12 次家庭暴力和 1-2 次家庭暴力，频率在 6 月达到峰值。干旱地区的高温天气持续时间达到75-90天，东部沿海地区的高温天气持续时间超过25天，均呈增加趋势。强度值范围为 55 至 64 °C，拉贾斯坦邦、古吉拉特邦、北方邦和比哈尔邦的强度呈上升趋势，而东海岸则呈下降趋势。研究结果强调，迫切需要制定针对特定地区的缓解策略，包括高温行动计划、预警系统和公共卫生准备，以减少印度各地 HW 和 SHW 事件不断升级的影响。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08339-1</guid>
      <pubDate>Thu, 13 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>准两年一次振荡对乌拉尔阻塞和欧亚冬季气候的调节</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08346-2</link>
      <description><![CDATA[乌拉尔阻塞是欧亚冬季气候变化的主要驱动因素，但其对赤道平流层变化的调节作用仍知之甚少。使用 1960 年至 2023 年 NCEP/NCAR 再分析数据，我们表明准两年期振荡（QBO）通过波平均流相互作用显着改变了乌拉尔阻塞的结构、垂直范围和持续性。在西风 QBO (WQBO) 期间，乌拉尔阻塞异常在纬向上更加拉长，并局限于对流层，有利于强劲的东风气流，将冷空气向西平流进入中亚和欧洲。相比之下，在东风QBO（EQBO）期间，乌拉尔阻塞变得更加经向和垂直延伸，引导冷异常从中亚向西南方向流向中东和地中海。出现这些不同的响应是因为 WQBO 增强了向极的行星波传播，但减弱了向上的行星波传播，而 EQBO 产生了相反的响应。因此，WQBO 与副热带急流增强和平流层-对流层耦合减弱有关，而 EQBO 则导致副热带急流减弱和耦合更强。此外，与EQBO相比，WQBO的特点是对流层中下层的Eliassen-Palm (EP)通量散度更强，对流层上层的EP通量辐合更强。这种垂直的 EP 通量结构不太有利于维持乌拉尔阻塞，导致 WQBO 期间其持续时间较短且表面冷却范围较小。我们的结果对于改善欧亚冬季气候的次季节到季节预测具有重要意义。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08346-2</guid>
      <pubDate>Thu, 13 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    <item>
      <title>马登-朱利安振荡对流活动主导模式的最新变化</title>
      <link>https://link.springer.com/article/10.1007/s00382-026-08337-3</link>
      <description><![CDATA[研究马登-朱利安振荡 (MJO) 的常用方法依赖于从前两个主要经验正交函数 (EOF) 模式导出的指数，并隐含假设这些模式不随时间变化。然而，最近MJO特性的变化意味着MJO主导模态可能发生变化，但这一点尚未受到太多关注。在这里，我们发现，自1979年以来，MJO对流的主导EOF模态实际上已经发生了显着的变化。这些变化表现为热带南印度洋MJO变率的减弱和西南太平洋变率中心的西移。西太平洋MJO变率的西移与背景环流和水分的变化密切相关，而背景环流和水分的变化归因于拉尼娜式的海面温度变化。与此同时，南印度洋MJO变率的减弱归因于与EOF相关的水分变率和垂直速度变率的共同减少。具体来说，水分变异性的下降源于涡旋相互作用导致的水平平流减弱，以及季节内垂直运动异常驱动的背景水分垂直平流减弱；同时，垂直速度变率的降低归因于垂直平流湿润大气的效率降低。这些研究结果表明，基于固定EOF模式的MJO指数所携带的信息，以及与主要EOF模式相关的气候影响，随着时间的推移而变化，这表明在使用基于EOF的MJO指数来研究MJO活动的长期趋势及其对气候变化的响应时需要谨慎。]]></description>
      <guid>https://link.springer.com/article/10.1007/s00382-026-08337-3</guid>
      <pubDate>Thu, 13 Aug 2026 00:00:00 GMT</pubDate>
    </item>
    </channel>
</rss>